:root {
  /* =====Cores do Site===== */
  --primaria: #fc8e53;
  --secundaria: #5445ae;
  --terciaria: #6a67d2;
  --holver: #f7515b;
  --braco: #ffffff;

  /* Tons suavizados */
  --preto: #1a1a1a;
  --cinza-escuro: #222222;
  --cinza-claro: #2a2a2a;
  --cinza-clarinho: #333333;

  /* =====Fontes===== */
  --h1: 1.7rem;
  --h2: 1.3rem;
  --p: 0.7rem;
}

/* ============ Menuzinho ============*/
.caixa {
  position: fixed;
  right: 10px;
}

/* ============ Cadastro e login ============*/
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 115vh;
  color: var(--braco);
}

.container {
  position: relative;
  width: 850px;
  height: 550px;
  border-radius: 30px;
  background: linear-gradient(35deg, var(--cinza-clarinho), var(--cinza-claro));
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.form-box {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(35deg, var(--cinza-clarinho), var(--cinza-claro));
  display: flex;
  align-items: center;
  text-align: center;
  padding: 40px;
  z-index: 1;
  transition: 0.6s ease-in-out 1.2s, visibility 0s 1s;
}

.container.active .form-box {
  right: 50%;
}

.form-box.Cadastrar {
  visibility: hidden;
}

.container.active .form-box.Cadastrar {
  visibility: visible;
}

form {
  width: 100%;
}

.container h1 {
  font-size: 36px;
  margin: -10px 0px;
}

.input-box {
  position: relative;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background: #111111;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #ccc;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.input-box input::placeholder {
  color: #333;
  font-weight: 400;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important; /* Altere 'white' para a cor de fundo desejada */
  box-shadow: 0 0 0 30px white inset !important; /* Altere 'white' para a cor de fundo desejada */
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #ccc;
}

.forgot-link a {
  font-size: 14.5px;
  font-weight: 900;
  background: linear-gradient(to right, var(--primaria), var(--holver));
  background-clip: text;
  color: transparent;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.5s;
}

.forgot-link a:hover {
  letter-spacing: 3px;
}

.bnt {
  display: flex;
  position: relative;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.04rem;
  width: 230px;
  padding: 1rem 1.5rem;
  margin: 0.7rem;
  justify-content: center;
  letter-spacing: 1px;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 17px;
  box-shadow: 0 15px 7px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1;
  overflow: hidden;
  letter-spacing: 1px;
}

.bnt:hover {
  letter-spacing: 3px;
}

.bnt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 0;
  filter: blur(10px);
  transition: 0.7s;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(-80%);
}

.bnt:hover::before {
  transform: skewX(45deg) translateX(190%);
}

.bnt::after {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, var(--primaria), var(--secundaria));
  width: 100%;
  height: 30%;
  border-radius: 2px;
  z-index: -1;
  box-shadow: 0 1px 10px var(--primaria), 0 1px 20px var(--primaria),
    0 1px 30px var(--secundaria);
  top: 55px;
  transition: 6s;
}

.bnt:hover::after {
  height: 95%;
  transform: translateY(-100%);
}

#bnt-login {
  z-index: 0;
}

.pinto {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container p {
  font-size: 14.5px;
  margin: 15px 0;
  color: #777;
}

.social-icon {
  display: flex;
  justify-content: center;
}

.social-icon a {
  display: inline-flex;
  padding: 5px 7px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 24px;
  text-decoration: none;
  margin: 0 8px;
  color: white;
  transition: transform 0.3s, color 0.2s;
}

.social-icon a:hover {
  border-color: var(--secundaria);
  color: var(--secundaria);
  transform: scale(1.2);
}

.toggle-box {
  position: absolute;
  width: 100%;
  height: 100%;
}

.toggle-box::before {
  content: "";
  position: absolute;
  left: -250%;
  width: 300%;
  height: 100%;
  background: linear-gradient(35deg, var(--primaria), var(--holver));
  z-index: 1;
  border-radius: 20px;
  transition: 1.8s ease-in-out;
}

.container.active .toggle-box::before {
  left: 50%;
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.6s ease-in-out;
}

.toggle-panel.toggle-left {
  left: 0;
  transition-delay: 1.2s;
}

.container.active .toggle-panel.toggle-left {
  left: -50%;
  transition-delay: 0.6s;
}

.container.active .toggle-panel.toggle-right {
  right: 0;
  transition-delay: 1.2s;
}

.toggle-panel.toggle-right {
  right: -50%;
  transition-delay: 0.6s;
}

.toggle-panel p {
  margin-bottom: 20px;
  color: #ddd;
  font-weight: 600;
  font-size: 17px;
}

.toggle-panel #sim {
  background-color: rgba(255, 255, 255, 0.1);
  width: 180px;
  height: 50px;
  border-radius: 12px;
  box-shadow: 0 15px 7px rgba(0, 0, 0, 0.2);
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  z-index: 1;
  overflow: hidden;
  position: relative;
  background: linear-gradient(75deg, white);
  background-clip: text;
  color: transparent;
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.toggle-panel #sim:hover {
  color: var(--secundaria);
  letter-spacing: 3px;
}

.toggle-panel #sim::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 0;
  transition: 0.7s;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(-80%);
}

.toggle-panel #sim:hover::before {
  transform: skewX(45deg) translateX(190%);
}

#titulo-esqueceu{
  text-align: center;
}

@media screen and (max-width: 650px) {
  .container {
    margin: 120px 20px;
    height: calc(120vh - 40px);
  }

  .form-box {
    bottom: 0;
    width: 100%;
    height: 70%;
  }

  .container.active .form-box {
    right: 0;
    bottom: 30%;
  }

  .toggle-box::before {
    left: 0;
    top: -270%;
    width: 100%;
    height: 300%;
    border-radius: 0;
  }

  .container.active .toggle-box::before {
    left: 0;
    top: 70%;
  }

  .toggle-panel {
    width: 100%;
    height: 30%;
  }

  .toggle-panel.toggle-left {
    top: 0;
  }

  .container.active .toggle-panel.toggle-left {
    left: 0;
    top: -30%;
  }

  .toggle-panel.toggle-right {
    right: 0;
    bottom: -30%;
  }

  .container.active .toggle-panel.toggle-right {
    bottom: 0;
  }
}
