main {
  display: flex;
  width: 100%;
  height: 100vh;
}

a {
  color: white;
}

/*====Divisões====*/

#pessoas {
  background-color: #101010;
  width: 28%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-right: 3px solid rgba(0, 0, 0, 0.5);
}

#perfil {
  width: 72%;
  height: 100%;
}

/*Perfils*/

#cont-perfils {
  width: 85%;
  height: 94%;
}

.return {
  color: white;
  padding: 1px 3px;
  font-size: 1.5rem;
  position: absolute;
  top: 3.3%;
  left: 7px;
  border-radius: 10px;
  transition: all 0.2s;
}

.return:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#especial-return {
  display: none;
  visibility: hidden;
}

#nome {
  margin-bottom: 10px;
}

#pesquisar {
  width: 100%;
  padding: 0.6rem;
  border-radius: 10px;
  background: #2a2a2a;
  margin-bottom: 1rem;
}

#pesquisar input {
  width: 89%;
  background: transparent;
  border: none;
  font-size: 1rem;
  color: white;
}

#pesquisar i {
  margin: 0 0.2rem;
}

#pesquisar input:focus-visible {
  border: none;
  outline: none;
}

#nome {
  font-size: 2rem;
}

.perfil {
  gap: 1rem;
  width: 100%;
  height: 100px;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  border-bottom: 3px solid black;
  transition: all 0.2s;
  margin-bottom: 6px;
}

.perfil:hover {
  background: rgba(255, 255, 255, 0.01);
}

.ativado {
  background: rgba(255, 255, 255, 0.05);
}

aside {
  position: relative;
  width: 100%;
}

aside h1 {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.msg {
  font-size: 0.8rem;
  width: 26ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tempo {
  position: absolute;
  top: 3px;
  right: 0;
  font-size: 0.7rem;
}

.foto {
  width: 70px;
  height: 70px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.foto img {
  height: 100%;
}

.esconder {
  display: none !important;
}

/*Default*/
#cont1 {
  height: 100%;
}

.itens {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.default {
  text-align: center;
  align-items: center;
  color: rgb(187, 187, 187);
}

.default h1 {
  margin-bottom: 6px;
}

.alinha {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-cinza {
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-cinza img {
  width: 160%;
}

#especial {
  width: 60%;
  position: absolute;
  text-align: center;
  bottom: 50px;
}

/*Barra do topo*/

#pessoa {
  width: 100%;
  height: auto;
  background: #2a2a2a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.separar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#foto {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#foto img {
  height: 100%;
}

#phone {
  border-radius: 3px;
  padding: 0.5rem 0.6rem;
  border: none;
  font-size: 1.5rem;
  background: transparent;
  transition: all 0.2s;
  color: white;
  background: #353535;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

#phone:hover {
  transform: rotate(0);
  padding: 0.4rem 0.5rem;
  font-size: 1.6rem;
  background: rgba(255, 255, 255, 0.1);
}

#especial-return {
  border-radius: 3px;
  padding: 0.5rem 0.6rem;
  border: none;
  font-size: 1.3rem;
  background: transparent;
  transition: all 0.2s;
  color: white;
}

#especial-return:hover {
  background: rgba(255, 255, 255, 0.1);
}

/*====Mensagens====*/
#mensagens {
  width: 100%;
  height: 80%;
}

.my-mensagens {
  position: relative;
  display: block;
  width: fit-content;
  margin-left: auto;
}

.mensagem {
  display: flex;
  align-items: center;
  margin: 1rem 1.4rem;
  gap: 0.5rem;
}

.mini-foto {
  width: 38px;
  height: 38px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
}

.mini-foto img {
  height: 100%;
}

.mensagem p {
  position: relative;
  background: #131212;
  border-radius: 10px;
  padding: 7px;
  padding-right: 2.7rem;
  margin-top: 10px;
  font-size: 1rem;

  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
}

.nome {
  color: #b3531f;
  font-weight: bolder;
}

.user-mensagem p {
  background: #b3531f;
}

.hora {
  position: absolute;
  color: rgb(233, 233, 233);
  font-size: 0.7rem;
  bottom: 5px;
  right: 5px;
}

/*====Barra de digitação====*/

#digitar {
  position: fixed;
  bottom: 0;
  width: 73%;
  display: flex;
  justify-content: center;
  background: #2a2a2a;
  align-items: center;
  padding: 1rem;
}

#digita {
  width: 86%;
  padding: 0.6rem;
  border-radius: 7px;
  background: #2f2f2f;
  border: none;
  font-size: 1rem;
  color: white;
  box-shadow: 1px 5px 2px solid rgba(0, 0, 0, 0.3);
}

#digita:focus-visible {
  outline: none;
  border: none;
}

#enviar {
  position: relative;
  width: 2rem;
  height: 2rem;
  border: none;
  margin: 0 0.5rem;
  border-radius: 3px;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-size: 1.2rem;
  color: white;
  transition: background 0.2s;
}

#mic {
  border-radius: 3px;
  padding: 0.5rem 0.6rem;
  border: none;
  color: white;
  font-size: 1.2rem;
  background: transparent;
  transition: all 0.2s;
}

#mic:hover,
#enviar:hover {
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 1024px) {
  #pessoas {
    width: 100vw;
    height: 100dvh;
    border-right: none;
  }

  #perfil {
    width: 100vw;
    height: 100dvh;
  }

  #mensagens{
    min-height: 83.5vh;
  }

  #cont2 {
    width: 100vw;
    height: 100dvh;
  }

  #cont1 {
    visibility: hidden;
    display: none;
  }

  .msg {
    width: 50ch;
  }

  #especial-return {
    display: block;
    visibility: visible;
    position: relative;
  }

  #digitar {
    width: 100%;
    position: relative;
  }
}

@media (max-width: 768px) {
  #pessoas {
    width: 100vw;
    height: 100dvh;
    padding: 1rem 0;
  }

  #cont-perfils {
    width: 95%;
  }

  .return {
    top: 10px;
    left: 14px;
  }

  .perfil {
    height: auto;
    padding: 0.6rem;
    gap: 0.8rem;
  }

  .foto {
    width: 60px;
    height: 60px;
  }

  #nome {
    font-size: 1.6rem;
  }

  #mensagens {
    min-height: 83.7vh;
  }

  /* Mensagens */
  .mensagem p {
    font-size: 1rem;
    padding-right: 2.3rem;
  }

  .msg {
    width: 45ch;
  }

  /* Digitação */
  #digitar {
    width: 100%;
  }

  #digita {
    width: 75%;
    font-size: 0.9rem;
  }

  #mic,
  #enviar {
    padding: 0.4rem;
  }
}

@media (max-width: 480px) {
  .foto {
    width: 50px;
    height: 50px;
  }

  #especial-return{
    font-size: 1.1rem;
    padding: 0.3rem 0.4rem;
  }

  #mensagens {
    min-height: 84vh;
  }

  .mini-foto {
    width: 36px;
    height: 36px;
  }

  .msg {
    width: 34ch;
  }

  .mensagem {
    margin: 0.8rem;
  }

  .mensagem p {
    font-size: 0.9rem;
  }

  #digita {
    width: 70%;
  }

  .separar {
    gap: 7px;
  }

  #phone {
    font-size: 1rem;
    padding: 0.3rem 0.4rem;
  }

  #phone:hover {
    font-size: 1rem;
    padding: 0.4rem 0.5rem;
  }
}
