:root{
    /* =====Cores do Site===== */
    --primaria: #FC8E53;
    --secundaria: #5445AE;
    --terciaria: #6A67D2;
    --holver: #F7515B;
    --braco: white;
    --preto: #0b0b0b;
    --cinza-escuro: #111111;
    --cinza-claro: #1b1b1b;
    --cinza-clarinho: #161616;

    /* =====Fontes===== */
    --h1: 1.7rem;
    --h2: 1.3rem;
    --p: 0.7rem;
}

