:root {
  /* =====Cores do Site===== */
  --primaria: #fc8e53;
  --secundaria: #5445ae;
  --terciaria: #6a67d2;
  --holver: #f7515b;
  --braco: white;
  --preto: #0b0b0b;
  --cinza-escuro: #111111;
  --cinza-claro: #1b1b1b;
  --cinza-clarinho: #161616;

  /* =====Fontes===== */
  --h1: 1.7rem;
  --h2: 1.3rem;
  --p: 0.7rem;
}

#banner1 {
  height: 30vh;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10rem 0;
}

.text_servicos {
  width: 33%;
}

.text_servicos h1 {
  font-size: 2.5rem;
  margin: 0.7rem 0;
}

.text_servicos p {
  margin-bottom: 1.5rem;
  width: 98%;
}

.listas {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.listas ul {
  list-style: none;
}

.listas ul li {
  font-size: 1.2rem;
  color: var(--primaria);
  margin-bottom: 1rem;
}

.listas ul li i {
  margin: 0 1rem;
  font-size: 1.5rem;
  color: var(--primaria);
}

.text_destaque {
  background-color: var(--primaria);
  padding: 1rem;
  border-radius: 10px;
  color: #0b0b0b;
}

.text_destaque p {
  font-size: 1.1rem;
  margin: 0;
}

.banner img {
  width: 30vw;
  border-radius: 10px;
}




