:root {
  /* =====Cores do Site===== */
  --primaria: #fc8e53;
  --secundaria: #5445ae;
  --terciaria: #6a67d2;
  --holver: #f7515b;
  --braco: white;
  --preto: #0b0b0b;
  --cinza-escuro: #111111;
  --cinza-claro: #1b1b1b;
  --cinza-clarinho: #161616;

  /* =====Fontes===== */
  --h1: 1.7rem;
  --h2: 1.3rem;
  --p: 0.7rem;
}

#banner1 {
  height: 30vh;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10rem 0;
}

.text_servicos {
  width: 33%;
}

.text_servicos h1 {
  font-size: 2.5rem;
  margin: 0.7rem 0;
}

.text_servicos p {
  margin-bottom: 1.5rem;
  width: 98%;
}

.listas {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.listas ul {
  list-style: none;
}

.listas ul li {
  font-size: 1.2rem;
  color: var(--primaria);
  margin-bottom: 1rem;
}

.listas ul li i {
  margin: 0 1rem;
  font-size: 1.5rem;
  color: var(--primaria);
}

.text_destaque {
  background-color: var(--primaria);
  padding: 1rem;
  border-radius: 10px;
  color: #0b0b0b;
}

.text_destaque p {
  font-size: 1.1rem;
  margin: 0;
}

.banner img {
  width: 30vw;
  border-radius: 10px;
}

/*=========== Serviços ===========*/
.servicos{
  text-align: center;
}

.servicos h1{
  font-size: 2.5rem;
  margin: 1rem 0;
}

.servicos p{
  font-size: 1.3rem;
}

.alinha{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  text-align: left;
  gap: 2.5rem;
  width: 90%;
  margin: 6rem 0;
}

.card{
  width: 100%;
  background-color: #212121;
  padding: 1rem;
  border-radius: 10px;
}

.card i{
  background: linear-gradient(to bottom, var(--primaria) 70%, var(--holver));
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.7); 
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
}

.card h1{
  font-size: 1.4rem;
}

.card p{
  font-size: 1rem;
}

.cont{
  text-align: center;
}

.cont h1{
  font-size: 1.6rem;
}

.cont a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bnt {
  display: flex;
  position: relative;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.3rem;
  width: 290px;
  padding: 0.7rem 1.4rem;
  margin: 0.7rem;
  justify-content: center;
  letter-spacing: 1px;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 17px;
  box-shadow: 0 15px 7px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1;
  overflow: hidden;
  letter-spacing: 1px;
}

.bnt:hover {
  letter-spacing: 3px;
  color: var(--holver);
}

.bnt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 0;
  filter: blur(10px);
  transition: 0.7s;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(-80%);
}

.bnt:hover::before {
  transform: skewX(45deg) translateX(190%);
}


